# Banco de dados
DATABASE_URL=""
DATABASE_URL_UNPOOLED=""

# Auth.js
AUTH_SECRET=""

# Proteção temporária do site
SITE_USERNAME=""
SITE_PASSWORD=""

# URL pública
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Utilizadas somente pelo seed local
SEED_ADMIN_NAME=""
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""